name: Github Actions 실행시켜보기

on:
  push:
    branches:
      - main

jobs: 
  my-deploy-job:
    name: 배포 작업
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3
        with:
          clean: true

      - name: 컨피그맵 적용
        run: kubectl apply -f configmap.yaml

      - name: Rollout on Configmap change
        run: |
          export checksum=$(kubectl get configmap my-app-config -o yaml | sha256sum | awk '{print $1}')
          kubectl patch deployment my-app-deployment -p '{"spec":{"template":{"metadata":{"annotations":{"checksum/config": "'$checksum'"}}}}}'
      - name: Apply Deployment & Service
        run: |
          kubectl apply -f deployment.yaml
          kubectl apply -f service.yaml

